html {
    font-size: large;
}

h1 {
    margin: 20px 40px
}

pre {
    margin: 20px 40px;   
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
    white-space: pre-wrap;
    word-wrap: break-word;   
  }
  